<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
<Appenders>
  <Console name="CONSOLE" target="SYSTEM_OUT">
    <PatternLayout pattern="%d{ISO8601} %p %C{1}.%M(%L) - %m%n"/>
  </Console>
</Appenders>
<Loggers>
  <Logger name="org.apache" level="info">
    <AppenderRef ref="CONSOLE"/>
  </Logger>
  <Logger name="org.apache.zookeeper" level="warn">
    <AppenderRef ref="CONSOLE"/>
  </Logger>


  <Logger name="edu.mit.ll.d4m" level="error">
    <AppenderRef ref="CONSOLE"/>
  </Logger>

  <Logger name="edu.mit.ll.graphulo" level="debug">
    <AppenderRef ref="CONSOLE"/>
  </Logger>

  <Logger name="edu.washington.cs.laragraphulo" level="debug">
    <AppenderRef ref="CONSOLE"/>
  </Logger>

  <!--<Logger name="org.apache.log4j.xml" level="debug">-->
    <!--<AppenderRef ref="CONSOLE"/>-->
  <!--</Logger>-->

  <Root level="info">
    <AppenderRef ref="CONSOLE"/>
  </Root>
</Loggers>
</Configuration>